---
import Layout from "../layouts/Layout.astro";
import ReactTunnels from "../components/Tunnels.tsx";
---

<Layout title="The Tunnel">
    <h3>Lets see all the tunnels!</h3>
    <hr /> 
    <ReactTunnels client:only="react"/>
</Layout>
